<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {% include "partials/header.njk" %}
  <main class="site-content">
    {{ content | safe }}
  </main>
  {% include "partials/footer.njk" %}
</body>
</html>
