{% extends "layout.njk" %}

{% block content %}
<article class="post">
  {% if image %}
  <div class="post-cover" style="background-image: url('{{ image }}');"></div>
  {% endif %}

  <div class="post-container">
    <h1 class="post-title">{{ title }}</h1>
    <time datetime="{{ date }}">{{ date | date("DD MMMM YYYY") }}</time>
    <div class="post-body">
      {{ content | safe }}
    </div>
  </div>
</article>
{% endblock %}
